*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.jks
*.keystore
node_modules/
gradle/wrapper/gradle-wrapper.jar
package-lock.json
cmdline-tools.zip
